body{
  font-family:'Arial';
  background-color:#f5f5f5;
}
.row{
  width: 100%;
}
.column {
  float: left;
  width: 46%;
  padding:2%;
}
input{
  margin-top:5px;
  margin-bottom:10px;
        width:100%;

}
    textarea {
         margin-top:5px;
  margin-bottom:10px;
      font-family:Arial;
      width:100%;
    }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.framediv{
    border: 2px solid grey;
  padding:20px;
  width:100%;
  background-color:white;
}
.previewdiv{
  overflow: auto;
  box-sizing: border-box;
}
#output{
    width:100%;

}
